$fontFamily: 'Roboto';
$fontSize: 16;

$mainColor: #3A3A3A;
$mainLightColor: #616161;
$greyColor: #898989;
$greyLightColor: #D8D8D8;
$orangeColor: #E89F71;
$blueColor: #262F56;

// Dimensions

$max-width: 1440;
$max-widthContainer: 1270;


$tablet-bp: 991px;
$mobile-bp: 575px;