.footer {

    // .footer__container

    &__container {
    }

    // .footer__body

    &__body {
        border-top: 1px solid $greyLightColor;
        display: grid;
        grid-template-columns: 250px 1fr 290px;
        @include adaptive-value("padding-top", 80, 30, 1);
        @include adaptive-value("padding-bottom", 80, 30, 1);
        @include adaptive-value("column-gap", 80, 0, 1);
    }

    // .footer__main

    &__main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    // .footer__logo

    &__logo {
        margin: 0px 0px 16px/24px * 1em 0px;
    }

    // .footer__text

    &__text {
        @include adaptive-value("font-size", 16, 13, 1);
        line-height: 24/16 * 100%;
        color: $greyColor;
    }

    // .footer__contacts

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            margin-right: 5px;
        }
    }

    // .footer__menu

    &__menu {
    }

    // .footer__subscribe

    &__subscribe {
    }
}

.contacts-footer {
}
.footer-contacts {

    // .footer-contacts__link

    &__link {
        margin-top: 16px;
        color: $greyColor;
    }
}

.menu-footer {

    // .menu-footer__column

    &__column {
    }

    // .menu-footer__title

    &__title {
    }

    // .menu-footer__list

    &__list {
    }

    // .menu-footer__link

    &__link {
    }
}

.subscribe {

    // .subscribe_button

    &__button {
    }

    // .subscribe__logo

    &__logo {
    }

    // .subscribe__form

    &__form {
    }

    // .subscribe__input

    &__input {
    }
}
