.page {

    // .page__products

    &__products {
    }


}





.products {
    @include adaptive-value("padding-bottom", 44, 30, 1);
    // .products__container

    &__container {
    }

    // .products__title

    &__title {
    }

    // .products__items

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
        gap: 32px;
    }

    // .products__item

    &__item {
    }
}






.item-product {
    background-color: #F4F5F7;
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover {
        .item-product__actions {
            opacity: 1;
            visibility: visible;
        }
    }

    // .item-product__labels
    &__labels {
        position: absolute;
        z-index: 5;
        display: flex;
        flex-direction: column;
        @include adaptive-value("top", 24, 10, 1);
        @include adaptive-value("right", 24, 10, 1);
    }

    // .item-product__label

    &__label {
        display: flex;
        flex: 0 0 48px;
        width: 48px;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 50%;

        &:not(&:last-child) {
            margin-bottom: 10px;
        }



        // .item-product__label_sale
        &_sale {
            background-color: #E97171;
        }

        &_new {
            background-color: #2EC1AC;
        }
    }

    // .item-product__image

    &__image {
        padding: 0px 0px 301px/285px * 100% 0px;
    }

    // .item-product__body

    &__body {
        padding: 16px 37px 30px 16px;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    // .item-product__content

    &__content {
        flex: 1 1 auto;
    }

    // .item-product__title

    &__title {
        @include adaptive-value("font-size", 24, 18, 1);
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 8px/24px * 1em;
    }

    // .item-product__text

    &__text {
        @include adaptive-value("font-size", 16, 14, 1);
        color: $greyColor;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 8px/24px * 1em;
    }

    // .item-product__prices

    &__prices {
        display: flex;
        align-items: center;
        column-gap: 6px;
        flex-wrap: wrap;
    }

    // .item-product__price

    &__price {
        font-weight: 600;
        line-height: 150%;
        @include adaptive-value("font-size", 20, 16, 1);

        // .item-product__price_old
        &_old {
            font-weight: 400;
            line-height: 150%;
            @include adaptive-value("font-size", 16, 14, 1);
            color: #B0B0B0;
            text-decoration: line-through;
        }
    }

    // .item-product__actions

    &__actions {


        @media (any-hover: none) {
            padding-top: 15px;
        }

        @media(any-hover: hover) {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease 0s;

            background-color: rgba($mainColor, 0.7);
        }
    }
}







.actions-product {

    // .actions-product__body
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    // .actions-product__button

    &__button {
        flex: 1 1 100%;
    }

    // .actions-product__link

    &__link {
        display: flex;
        margin-top: 24px;
        align-items: center;

        color: inherit;
        font-weight: 600;
        @include adaptive-value("font-size", 16, 14, 1);


        img {
            margin-right: 11px;
            transition: transform 0.3s ease 0s;
        }
        @media(any-hover: none) {
            background-color: rgba($greyLightColor, 0.3);
            padding: 5px;
            border-radius: 5%;
        }

        @media(any-hover: hover) {
            color: #ffffff;

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}


.products__footer {
    padding-top: 32px;
    text-align: center;
}   

.products__more {
    border: 1px solid $orangeColor;
    min-width: 245px;
}